//Theme1
//Theme1ContainersBackgrounds
$mainBgTheme1: hsl(222, 26%, 31%);
$toggleKeypadBgTheme1: hsl(223, 31%, 20%);
$screenBgTheme1: hsl(224, 36%, 15%);
//Theme1Keys
$darkBlueKeyBg: hsl(225, 21%, 49%);
$darkBlueKeyShadow: hsl(224, 28%, 35%);

$redKeyBg_toggle: hsl(6, 63%, 50%);
$darkRedKeyShadow: hsl(6, 70%, 34%);

$lightGrayishOrangeKeyBg: hsl(30, 25%, 89%);
$grayishOrangeKeyShadow: hsl(28, 16%, 65%);
//Theme1Text
$veryDarkGrayishBlue: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);

//Theme2
$mainBgTheme2: hsl(0, 0%, 90%);
$toggleKeypadBgTheme2: hsl(0, 5%, 81%);
$screenBgTheme2: hsl(0, 0%, 93%);
//Theme2Keys
$darkModerateCyanKeyBg: hsl(185, 42%, 37%);
$veryDarkCyanKeyShadow: hsl(185, 58%, 25%);

$orangeKeyBg_toggle: hsl(25, 98%, 40%);
$darkOrangeKeyShadow: hsl(25, 99%, 27%);

$lightGrayishYellowKeyBg: hsl(45, 7%, 89%);
$darkGrayishOrangeKeyShadow: hsl(35, 11%, 61%);
//Theme2Text
$veryDarkGrayishYellow: hsl(60, 10%, 19%);
//white

//Theme3
$mainBgTheme3: hsl(268, 75%, 9%);
$toggleKeypadScreenBgTheme3: hsl(268, 71%, 12%);
//Theme3Keys
$darkVioletKeyBg: hsl(281, 89%, 26%);
$vividMagentaKeyShadow: hsl(285, 91%, 52%);

$pureCyanKeyBg_toggle: hsl(176, 100%, 44%);
$SoftCyanKeyShadow: hsl(177, 92%, 70%);

$veryDarkVioletKeyBg: hsl(268, 47%, 21%);
$darkMagentaKeyShadow: hsl(290, 70%, 36%);
//Theme3Text
$lightYellow: hsl(52, 100%, 62%);
$veryDarkBlue: hsl(198, 20%, 13%);

//fontsSize
$font-sm: 1.125rem; //18px
$font-lg: 1.5rem; //
